<table class="table">
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Email</th>
      <th class="text-left">Action</th>
    </tr>
  </thead>
  <tbody id="contacts-list" data-controller="contacts" data-action="">
  <% contacts.each do |contact| %>
    <%= render partial: "maps/contact", locals: { contact: contact, button: "Action" }  %>
  <% end %>
  </tbody>
</table>
