<table class="table table-zebra mt-0 w-full">
  <thead>
    <tr class="w-full">
      <th class="text-left">Name</th>
      <th class="text-left">Email</th>
    </tr>
  </thead>
  <tbody id="contacts-list" data-controller="contacts" data-action="">
  <% contacts.each do |contact| %>
    <%= render partial: "contact", locals: { contact: contact }  %>
  <% end %>
  </tbody>
</table>

