<table class="table table-zebra mt-0 w-full">
  <thead>
    <tr class="w-full">
      <th class="text-left"><%= t('maps.name')%></th>
      <th class="text-left"><%= t('maps.email')%></th>
      <th class="text-left"><%= t('maps.action')%></th>
    </tr>
  </thead>
  <tbody id="nearest-person" data-controller="contacts" data-action="">
  <%= render partial: "maps/contact", locals: { contact: user, button: button } %>
  </tbody>
</table>
