<script type="text/javascript">
let center = [55.81863845116168,37.87356624320199];
ymaps.ready(init);

let MyMap;

function init() {
	myMap = new ymaps.Map('ymap', {
		center: [55.76, 37.64],
		zoom: 10,
		// type: 'yandex#satellite'
	});

	myMap.controls.remove('geolocationControl');
	myMap.controls.remove('searchControl');
	myMap.controls.remove('trafficControl');
	myMap.controls.remove('typeSelector');
	myMap.controls.remove('fullscreenControl'); 
	myMap.controls.remove('rulerControl');
	myMap.controls.remove('miniMap');

	let geolocation = ymaps.geolocation

    geolocation.get({
        provider: 'browser',
        mapStateAutoApply: true
    }).then(function (result) {
        result.geoObjects.options.set('preset', 'islands#blueCircleIcon');
		result.geoObjects.get(0).properties.set({
            balloonContentBody: 'Мое местоположение'
        });
		console.log(result.geoObjects.get(0).geometry.getCoordinates());
        myMap.geoObjects.add(result.geoObjects);
    });

	myMap.copyrights.add('© Иван Погиба');
}

function add_points() {
	ymaps.geoQuery([
            {
                type: 'Point',
                coordinates: [55.73, 37.75]
            },
            {
                type: 'Point',
                coordinates: [55.10, 37.45]
            },
            {
                type: 'Point',
                coordinates: [55.25, 37.35]
            }
        ]).addToMap(myMap);
}


</script>
<div class="row">
    <div class="col-10" style="margin: 0; padding: 0;">
      <div id="ymap" class="map"></div>
    </div>

    <div class="col-2" style="margin: 0; padding: 0;">
		
		<button type="button" class="btn btn-primary" onclick="add_points()">Add</button>
    </div>

  </div>
